body{
    font-family: 'Roboto', sans-serif;
    height: 1024px;
}
/* Desktop catalog*/
/* Header */
header{
    display: flex;
    justify-content: space-between;
    margin: 23px 24px 24px 24px;
}
header div{
    display: flex;
    align-items: center;
    border-bottom: 2px solid white;
}
header .b1{
    width: 300px;
    height: 40px;
}
header .b1:hover{
    border-bottom: 2px solid #fcac45;
}
header .b1:hover #header_search{
    filter: invert(91%) sepia(12%) saturate(7307%) hue-rotate(324deg) brightness(100%) contrast(98%);
}
header input{
    border: 0;
    height: 16px;
    color: black;
}
header input:focus{
    outline: none;
}
header input::placeholder{
    font-weight: bold;
}
header button{
    background: none;
    border: none;
}
header img{
    width: 20px;
    height: 20px;
}
#header_search{
    width: 17.5px;
    height: 17.5px;
    margin-right: 11.5px;
}
#header_cart{
    margin-right: 21px;
}
header img:hover {
    filter: invert(91%) sepia(12%) saturate(7307%) hue-rotate(324deg) brightness(100%) contrast(98%);
}

/* Catalog */
main{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: -8px -8px;
}
main .product{
    margin: 8px 8px;
    height: 272px;
    display: flex;
    flex-direction: column;
    width: 220px; 
}
.product .p_favorite{
    margin: 8px 8px 8px 0;
    align-self: flex-end;
}
/* .p_favorite:hover{
    filter: invert(91%) sepia(12%) saturate(7307%) hue-rotate(24deg) brightness(100%) contrast(98%);
} */
.p_favorite:hover svg path{
    fill: #fcac45;
}
.product .p_image{
    width: 100%;
    height: 140px;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.product .p_title{
    width: 100%;
    height: 40px;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
}
.product .p_price{
    width: 100%;
    height: 20px;
    color: #545454;
    text-align: center;
    font-size: 14px;
    line-height: 16.4px;
    font-weight: 400;
}
.product:hover{
    background: #F2F2F2;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
}


@media screen and (max-width: 375px) {
    header{
        margin: 16px 24px;
    }
    header .b1{
        width: 200px;
    }
    header img{
        width: 24px;
        height: 24px;
    }
    #header_search{
        width: 24px;
        height: 24px;
    }

    main .product{
        width: 155px;
    }
    .product .p_favorite{
        margin-bottom: 0;
    }
    .product .p_image{
        width: 155px;
    }
}